@source "./";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant anchor (a&);

:root {
  --background: oklch(0.985 0 0);
  --muted: oklch(0.93 0 0);
  --muted-hover: oklch(0.9 0 0);

  --foreground: oklch(0.145 0 0);
  --foreground-muted: oklch(0.35 0 0);
  --foreground-subtle: oklch(0.48 0 0);

  --primary: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);

  --danger: oklch(0.56 0.22 27.3);
  --danger-hover: oklch(0.5 0.21 27.3);
  --danger-foreground: oklch(0.985 0 0);

  --danger-soft: oklch(0.93 0.03 27.3);
  --danger-soft-hover: oklch(0.9 0.03 27.3);
  --danger-soft-foreground: oklch(0.41 0.16 27.3);

  --success-soft: oklch(0.93 0.03 149.2);
  --success-soft-hover: oklch(0.9 0.03 149.2);
  --success-soft-foreground: oklch(0.38 0.1 149.2);

  --warning-soft: oklch(0.93 0.03 70);
  --warning-soft-hover: oklch(0.9 0.03 70);
  --warning-soft-foreground: oklch(0.39 0.08 70);

  --info-soft: oklch(0.93 0.03 262.9);
  --info-soft-hover: oklch(0.9 0.03 262.9);
  --info-soft-foreground: oklch(0.4 0.2 262.9);

  --border: oklch(0.88 0 0);
  --ring: oklch(0.35 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --muted: oklch(0.23 0 0);
  --muted-hover: oklch(0.27 0 0);

  --foreground: oklch(0.985 0 0);
  --foreground-muted: oklch(0.8 0 0);
  --foreground-subtle: oklch(0.65 0 0);

  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.145 0 0);

  --danger-soft: oklch(0.23 0.05 27.3);
  --danger-soft-hover: oklch(0.27 0.05 27.3);
  --danger-soft-foreground: oklch(0.77 0.13 27.3);

  --success-soft: oklch(0.23 0.05 149.2);
  --success-soft-hover: oklch(0.27 0.05 149.2);
  --success-soft-foreground: oklch(0.75 0.2 149.2);

  --warning-soft: oklch(0.23 0.05 70);
  --warning-soft-hover: oklch(0.27 0.05 70);
  --warning-soft-foreground: oklch(0.77 0.16 70);

  --info-soft: oklch(0.23 0.05 262.9);
  --info-soft-hover: oklch(0.27 0.05 262.9);
  --info-soft-foreground: oklch(0.77 0.11 262.9);

  --border: oklch(0.28 0 0);
  --ring: oklch(0.8 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-muted: var(--muted);
  --color-muted-hover: var(--muted-hover);

  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);
  --color-foreground-subtle: var(--foreground-subtle);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-danger: var(--danger);
  --color-danger-hover: var(--danger-hover);
  --color-danger-foreground: var(--danger-foreground);

  --color-danger-soft: var(--danger-soft);
  --color-danger-soft-hover: var(--danger-soft-hover);
  --color-danger-soft-foreground: var(--danger-soft-foreground);

  --color-success-soft: var(--success-soft);
  --color-success-soft-hover: var(--success-soft-hover);
  --color-success-soft-foreground: var(--success-soft-foreground);

  --color-warning-soft: var(--warning-soft);
  --color-warning-soft-hover: var(--warning-soft-hover);
  --color-warning-soft-foreground: var(--warning-soft-foreground);

  --color-info-soft: var(--info-soft);
  --color-info-soft-hover: var(--info-soft-hover);
  --color-info-soft-foreground: var(--info-soft-foreground);

  --color-border: var(--border);
  --color-ring: var(--ring);
}

@theme {
  --font-sans: var(--font-geist-sans, ui-sans-serif, system-ui, sans-serif);
  --font-mono: var(--font-geist-mono, ui-monospace, SFMono-Regular, monospace);

  --default-transition-duration: 150ms;

  --animate-reveal: reveal 0.7s ease-in-out;

  @keyframes reveal {
    0% {
      opacity: 0;
      filter: brightness(1) blur(15px);
      scale: 1.0125;
    }
    10% {
      opacity: 1;
      filter: brightness(1.25) blur(10px);
    }
    100% {
      opacity: 1;
      filter: brightness(1) blur(0);
      scale: 1;
    }
  }
}

@utility link {
  @apply decoration-foreground-subtle hover:decoration-foreground-muted underline decoration-1 underline-offset-4 transition-colors;
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans text-pretty antialiased;
  }

  a,
  button {
    @apply cursor-pointer;
  }

  button:disabled,
  button[disabled] {
    @apply cursor-not-allowed;
  }

  :focus-visible {
    @apply outline-ring outline-2 outline-offset-2;
  }
}
